// Charybdis keymap based on zmk-for-charybdis reference
// Adapted for modern ZMK input-processors API

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

// Layer-tap timing configuration
&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    // Key combinations for special functions
    combos {
        compatible = "zmk,combos";

        combo_delete {
            bindings = <&kp DELETE>;
            key-positions = <24 11>;
        };

        combo_layer3 {
            bindings = <&tog 3>;
            key-positions = <48 49 50>;
        };

        combo_layer0 {
            bindings = <&to 0>;
            key-positions = <51 52>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Default - QWERTY layout (matched to reference)
        // Note: trackball-bindings <&tmv_coarse> in reference (old API, not applicable to new input-processors)
        layer_0_default {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3        &kp N4     &kp N5      &kp N6     &kp N7     &kp N8     &kp N9            &kp N0    &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E         &kp R      &kp T       &kp Y      &kp U      &kp I      &kp O             &kp P     &kp LBKT
&kp LSHFT       &kp A   &kp S   &kp D         &kp F      &kp G       &kp H      &kp J      &kp K      &kp L             &kp SEMI  &kp BSLH  
&kp LCTRL       &kp Z   &kp X   &kp C         &kp V      &kp B       &kp N      &kp M      &kp COMMA  &kp PERIOD        &kp FSLH  &kp MINUS
                                &kp LGUI   &kp LALT      &mo 1       &kp LEFT_COMMAND   &kp SPACE
                                              &mkp MB1   &mkp MB2    &kp ENTER
            >;
        };

        // Layer 1: Function - F-keys, navigation (matched to reference)
        // Note: trackball-bindings <&tsl> in reference (scroll mode, old API)
        layer_1_fn {
            bindings = <
&kp F1          &kp F2    &kp F3   &kp F4   &kp F5    &kp F6        &kp F7     &kp F8      &kp F9      &kp F10            &kp F11  &kp F12
&kp CAPS        &kp PG_UP &kp HOME &kp UP   &kp END   &bt BT_NXT    &none      &none       &kp UP      &none              &none    &kp RBKT
&kp LSHFT       &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &bt BT_CLR    &none      &kp LEFT    &kp DOWN    &kp RIGHT          &none    &none
&kp LCTRL       &none     &none    &none    &none     &none         &none      &none       &none       &kp SQT            &none    &kp EQUAL
                                   &kp LGUI &kp SPACE &none         &kp GRAVE  &kp DELETE
                                            &mkp MB1  &mkp MB2        &kp ENTER
            >;
        };

        // Layer 2: Wheel - Scroll mode
        // Note: trackball-bindings <&tsl> in reference (scroll mode, old API)
        layer_2_wheel {
            bindings = <
&kp ESC         &none      &none      &none      &none       &none    &none      &none      &none      &none       &none      &kp BACKSPACE
&kp TAB         &kp PG_UP  &kp HOME   &kp UP     &kp END     &none    &none      &kp HOME   &kp UP     &kp END     &kp PG_UP  &none
&kp LSHFT       &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT   &none    &none      &kp LEFT   &kp DOWN   &kp RIGHT   &kp PG_DN  &none
&kp LCTRL       &none      &none      &none      &none       &none    &none      &none      &none      &none       &none      &none
                                      &none      &none       &none    &none      &mkp MB2
                                                 &none       &none    &mkp MB1
            >;
        };

        // Layer 3: Config - Bluetooth pairing
        layer_3_config {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none  &none  &none  &none  &none  &bt BT_CLR
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
&none  &none         &none         &none         &none         &none           &none  &none  &none  &none  &none  &none
                                   &to 0         &none         &none           &none  &none
                                                 &none         &none           &none
            >;
        };
    };
};