if SHIELD_CHARYBDIS_RIGHT
config ZMK_KEYBOARD_NAME
    default "Charybdis"
config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y
endif

if SHIELD_CHARYBDIS_LEFT || SHIELD_CHARYBDIS_RIGHT
config ZMK_SPLIT
    default y
endif

# Minimal layer timing placeholders (refinement later)
config MOUSE_LAYER_INDEX
    int "Index of mouse layer"
    default 4

config SCROLL_LAYER_INDEX
    int "Index of scroll layer"
    default 5